*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(64,64,64,1) 35%, rgba(71,71,71,1) 65%, rgba(121,121,121,1) 100%);
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Couleur noire avec 50% d'opacité */
    z-index: -1; /* Place l'overlay derrière le contenu */
  }

.Lib-Lang{
    position: relative;
    align-content: center;
    align-items: center;
    color: white;
    border-color: white;
    border: 1px,1px,1px,1px;
}

.dev-lang {
    list-style-type: none;
    width: 40%;
    margin-left: 5%;    
}

.dev-lang li{
    margin-top: 2%;
}

.dev-lib{
    width: 40%;
    margin-left: 50%;
    transform: translateY(-685%);
}

ul{
    list-style-type: none;
}

#change-language{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.01);
    color: white;
    border-color: rgba(0, 0, 0, 0.01);
    cursor: pointer;
}

h1 {
    font-family: Tahoma, Verdana, sans-serif;
}

.box{
  border: rgb(255, 157, 0) solid 2px;
  border-radius: 25px;
  height: 260px;
  width: 180px;
  text-align: center;
  color: white;
}

#boxContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#TextContainer{
  width: 70%;
  height: 300px;
  text-align: center;
  justify-content: center;
  color: white;
  align-content: center;
}

#TextAbout{
  font-size: 1.2em;
}

.TitleBox{
  border-bottom: rgb(255, 157, 0) solid 2px;
}

#Container{
  display: flex;
  left: 0;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
}

i{
  font-size: 4.2em;
}