.Container{
    display: flex;
    width: 100%;
    height: 70vh;
}

.DivContainer{
    align-items: center;
    width: 50%;
}

img{
    width: 10%;
    height: 10%;
    transform: translateY(15px);
}

#TextMail{
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
}


#FormMail{

    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
}

form{
    display: grid;
}

.InputForm{
    background-color: orange;
    border-color: black;
    color: black;
    text-align: center;
    margin-bottom: 5px;
    width: 50%;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
    border-radius: 10px;
    height: 3vh;
    border-width: 5px;
    border-style:solid ;
}

.InputForm::placeholder{
    color: black;
    text-align: center;
}

.InputForm:focus{
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
    background-color: transparent;
    border-color: orange;
    color: orange;
}

.InputForm:focus::placeholder{
    color: orange;
}

#MessageForm{
    height: 10vh;
    text-align: left;
}

.ButtonMail{
    width: 50%;
    color: black;
    background-color: orange;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
    cursor: pointer;
}

.ButtonMail:hover{
    background-color: transparent;
    border-color: orange;
    color: orange;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
}