.DivContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

 }

.Container{
    margin-top: 5%;
    height: 600px;
    width: 500px;
    text-align: center;
    color: white;
}

#ecole{
    border-right: rgb(255, 157, 0) solid 2px;
}


.Logos{
    display: flex;
    left: 0;
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.TitreLogo{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.Intitule{
    margin-top: 10px;
}

.annee{
    margin-top: 5px;
}

body{
    opacity: 0;
    transition: opacity 1s ease-in;
}

body.loaded{
    opacity: 1;
}