*{
    margin: 0;
    padding: 0;
}

*.loaded{
    opacity: 1;
}

/* Optionnel : effet "gluant" avec SVG filter */
svg {
    width: 0;
    height: 0;
}

header{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000b6;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    color: white;
    border-bottom: rgb(255, 157, 0) solid 2px;
}

.div-header li{
    display: inline;
    text-align: center;
    align-content: center;
    margin: 30px;
    cursor: pointer;
    font-size: 1.1em;
    transition: font-size 0.1s ease-in, color 0.1s ease-in, text-decoration 0.1s ease-in;

}

.div-header li:hover{
    color: rgb(255, 157, 0);
    font-size: 1.4em;
    text-decoration: underline;
}

.div-header ul{
    display: flex; 
    list-style: none; 
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.div-header Button{
    position: absolute;
    right: 5%;
    top: 30%;
}

#change-language{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.01);
    color: white;
    border-color: rgba(0, 0, 0, 0.01);
    cursor: pointer;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../../img/background.svg');
    background-repeat: repeat;
    background-size: contain;
    background-color: #000; 
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: auto;
    background-color: rgba(0, 0, 0, 0.75); 
    z-index: -1; 
  }

cursor{
    cursor: unset;
}

/* NOEL */

#snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Empêche les clics d'interagir avec les flocons */
    z-index: 1000;
    overflow: hidden;
  }
  
  .snowflake {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 1em;
    user-select: none;
    opacity: 0.8;
    animation: fallAndSpin linear infinite;
  }
  
.snowflake {
    animation-duration: 5s, 3s; /* Chute: 5s, Rotation: 3s */
  }

  @keyframes fallAndSpin {
    0% {
      transform: translateY(-10px) rotate(0deg);
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
    }
  }