<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../js/lang.js" defer></script>
    <script src="../../js/changeroot.js" defer></script>
    <link rel="stylesheet" href="../css/apropos.css">

    <title>Portfolio: Accueil</title>
</head>
<body>
    <%- include('header') %>
</body>

</html>