<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../js/changeroot.js" defer></script>
    <link rel="stylesheet" href="../css/apropos.css">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link rel="icon" type="image/vnd.icon" href="../../img/icon.ico">

    <title>Portfolio: A Propos</title>
</head>
<body>
    <script>
        window.addEventListener('load', function() {
                document.body.classList.add('loaded');
            });
    </script>
    <%- include('header') %>
    <div id="Container">
        <div id="TextContainer">
            <p id="TextAbout">Je m'appelle Guillaume, étudiant en 2ème année de BTS SIO (Services Informatiques aux Organisations), option SLAM (Solutions Logicielles et Applications Métier). Spécialisé dans la conception d'applications sur mesure, je me concentre sur l'alliance entre efficacité et innovation. Mon portfolio présente mes projets et compétences, résultat de ma formation et de mon engagement dans le domaine de l'informatique.</p>
        </div>
    </div>
    
    <div id="boxContainer">
        <div class="box">
            <p class="TitleBox">Langages</p>
            <div class="BoxIcon">
                <i class="devicon-html5-plain-wordmark icon"></i>
                <i class="devicon-css3-plain-wordmark icon"></i>
                <i class="devicon-javascript-plain icon"></i>
                <i class="devicon-csharp-plain-wordmark icon"></i>
                <i class="devicon-python-plain-wordmark"></i>
            </div>
            
        </div>
        <div class="box">
            <p class="TitleBox">Bibliotèque</p>
            <div class="BoxIcon">
                <i class="devicon-express-original-wordmark"></i>
                <i class="devicon-microsoftsqlserver-plain"></i>
            </div>
        </div>
        <div class="box">
            <p class="TitleBox">Base de données</p>
            <div class="BoxIcon">
                <i class="devicon-mysql-plain-wordmark"></i>
                <i class="devicon-microsoftsqlserver-plain-wordmark"></i>
                <i class="devicon-sqlite-plain-wordmark"></i>
                <i class="devicon-postgresql-plain-wordmark"></i>
            </div>
        </div>
        <div class="box">
            <p class="TitleBox">OS</p>
            <div class="BoxIcon">
                <i class="devicon-windows11-original-wordmark"></i>
                <i class="devicon-linux-plain"></i>
            </div>
        </div>
        <div class="box">
            <p class="TitleBox">Outils de Dev</p>
            <div class="BoxIcon">
                <i class="devicon-github-original-wordmark"></i>
                <i class="devicon-gitlab-plain-wordmark"></i>
                <i class="devicon-figma-plain"></i>
            </div>
        </div>
        <div class="box">
            <p class="TitleBox">IDE</p>
            <div class="BoxIcon">
                <i class="devicon-vscode-plain-wordmark"></i>
                <i class="devicon-visualstudio-plain"></i>
                <i class="devicon-eclipse-plain-wordmark"></i>
                <i class="devicon-androidstudio-plain-wordmark"></i>
            </div>
        </div>
    </div>
    

</body>

</html>