<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/btssio.css">
    <script src="../../js/changeroot.js" defer></script>
    <title>Document</title>
</head>
<body>
    <script>
        window.addEventListener('load', function() {
                document.body.classList.add('loaded');
            });
    </script>
    <%- include('header') %>
    <div class="TextContainer">
        <div class="Text">
            <p>Le BTS SIO (Services Informatiques aux Organisations) est une formation technique et professionnalisante qui prépare à la gestion et à la mise en œuvre de solutions informatiques au sein des entreprises. Ce diplôme permet d’acquérir des compétences solides en développement, en gestion de projets, en administration réseau, et en sécurité informatique. Le cursus est structuré autour de deux options : SISR (Solutions d’Infrastructure, Systèmes et Réseaux) et SLAM (Solutions Logicielles et Applications Métiers). <br> <br> J'ai choisi de me spécialiser dans l'option SLAM, qui est orientée vers le développement de logiciels et d’applications. Au sein de cette option, j’ai développé des compétences en conception, développement, et maintenance d’applications métiers, en m’appuyant sur des langages de programmation variés, des bases de données, ainsi que des méthodologies de gestion de projets. Cette spécialisation m'a permis de renforcer mes capacités en développement web et mobile, tout en prenant en compte les besoins spécifiques des utilisateurs et les objectifs des organisations.</p>
        </div>
    </div>
</body>
</html>