<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/btssio.css">
    <script src="../../js/changeroot.js" defer></script>
    <title>Portfolio: BTSSIO</title>
</head>
<body>
    <script>
        window.addEventListener('load', function() {
                document.body.classList.add('loaded');
            });
    </script>
    <%- include('header') %>
    <div class="TextContainer">
        <div class="Text">
            <p>Le <span class="ColorLetters">BTS SIO</span> (<span class="ColorLetters">S</span>ervices <span class="ColorLetters">I</span>nformatiques aux <span class="ColorLetters">O</span>rganisations) est une formation technique et professionnalisante qui prépare à la gestion et à la mise en œuvre de solutions informatiques au sein des entreprises. Ce diplôme permet d’acquérir des compétences solides en développement, en gestion de projets, en administration réseau, et en sécurité informatique. Le cursus est structuré autour de deux options :</p>
        </div>
    </div>
    <div class="Container">
        <div class="SLAM">
            <h2>SLAM</h2>
            <br>
            <h3><span class="ColorLetters">S</span>olutions <span class="ColorLetters">L</span>ogiciels et <span class="ColorLetters">A</span>pplications <span class="ColorLetters">M</span>étiers. Cette spécialité forme des développeurs d'applications informatiques.</h3>
            <br>
            <h2>DÉBOUCHÉES</h2>
            <br>
            <ul>
                <li>Développeur d'application</li>
                <li>Analyste programmeur</li>
                <li>Concepteur développeur</li>
                <li>Intégrateur web</li>
                <li>Administrateur de base de données</li>
            </ul>
        </div>
        <div class="SISR">
            <h2>SISR</h2>
            <br>
            <h3><span class="ColorLetters">S</span>olutions d'<span class="ColorLetters">I</span>nfrastucture, <span class="ColorLetters">S</span>ystème et <span class="ColorLetters">R</span>éseaux. Cette spécialité forme des administrateurs de réseaux et de systèmes</h3>                
            <br>
            <h2>DÉBOUCHÉES</h2>
            <br>
            <ul>
                <li>Administrateur système et réseaux</li>
                <li>Technicien support</li>
                <li>Technicien réseaux</li>
                <li>Technicien sytèmes</li>
                <li>Technicien de maintenance</li>
            </ul>
        </div>
    </div>
</body>
</html>