<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/contact.css">
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="../../js/changeroot.js" defer></script>
    <title>Portfolio: Contact</title>
</head>
<body>
    <script>
        window.addEventListener('load', function() {
                document.body.classList.add('loaded');
            });
    </script>
    <%- include('header') %>

    <div class="Container">
        <div class="DivContainer" id="TextMail">
            <h1>guillaume.blas4@gmail.com <img src="../img/mail.svg"></img></h1>
        </div>

        <div class="DivContainer" id="FormMail">
            <form action="https://api.web3forms.com/submit" method="post" class="MailForm">
                <input type="hidden" name="access_key" value="ca434a61-66c5-4934-87c6-64f474723cb5">
                <input type="text" name="name" placeholder="Nom Complet" class="InputForm" required>
                <input type="mail" name="email" placeholder="E-Mail" class="InputForm" required>
                <input type="text" name="object" placeholder="Objet" class="InputForm" required>
                <textarea type="text" name="message" placeholder="Message" id="MessageForm" class="InputForm" required></textarea>
                <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
                <button type="submit" class="ButtonMail" class="InputForm">Envoyer</button>
            </form>
        </div>
    </div>

</body>
</html>