<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../js/changeroot.js" defer></script>
    <link rel="stylesheet" href="../../css/eee.css">
    <title>Document</title>
</head>
<body>
    <script>
        window.addEventListener('load', function() {
                document.body.classList.add('loaded');
            });
    </script>
    <%- include('header') %>

    <div class="DivContainer">
        <div class="Container" id="ecole">
            <div class="TitreLogo">
                <img src="../../img/ensitech.png" alt="" srcset="" class="Logos">
                <h1 class="Titre">École : Ensitech</h1>
            </div>
            <p class="Intitule">BTS SIO SLAM</p>
            <p class="annee">Septembre 2023 - Août 2025</p>
        </div>
        <div class="Container" id="entreprise">
            <div class="TitreLogo">
                <img src="../../img/SG.png" alt="" srcset="" class="Logos">
                <h1 class="Titre">Entreprise : Société Générale</h1>
            </div>
            <p class="Intitule">Alternance : Développeur logiciel et gestion de projet en milieu international</p>
            <p class="annee">Septembre 2023 - Août 2025</p>
        </div>

    </div>
</body>
</html>