<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../js/changeroot.js" defer></script>
    <link rel="stylesheet" href="../../css/eee.css">
    <title>Portfolio: École et Entreprise</title>
</head>
<body>
    <script>
        window.addEventListener('load', function() {
                document.body.classList.add('loaded');
            });
    </script>
    <%- include('header') %>

    <div class="DivContainer">
        <div class="Container" id="ecole">
            <div class="TitreLogo">
                <a href="https://www.ensitech.eu" target="_blank"><img src="../../img/ensitech.png" alt="" srcset="" class="Logos"></a>
                <h1 class="Titre">École : Ensitech</h1>
            </div>
            <p class="Intitule">BTS SIO SLAM</p>
            <p class="annee">Septembre 2023 - Août 2025</p>
        </div>
        <div class="Container" id="entreprise">
            <div class="TitreLogo">
                <a href="https://www.societegenerale.com/fr" target="_blank"><img src="../../img/SG.png" alt="" srcset="" class="Logos"></a>
                <h1 class="Titre">Entreprise : Société Générale</h1>
            </div>
            <p class="Intitule">Alternance : Développeur logiciel et gestion de projet en milieu international</p>
            <p class="annee">Septembre 2023 - Août 2025</p> <br>
            <p class="Explication">La <b>Société Générale</b> est une des principales banques françaises et une des plus anciennes, créée en 1864. La Société générale est la troisième banque française en matière d'actifs totaux après BNP Paribas et le Crédit agricole. Elle est aussi la sixième plus grande banque d'Europe et la vingt et unième du monde</p>
        </div>

    </div>
</body>
</html>