<link rel="stylesheet" href="../css/header.css">

<header>
    <div class="div-header">
        <ul>
            <li class="li-header" id="nav-home" onclick="ChangeRoot('/')"></li>
            <li class="li-header" id="nav-about" onclick="ChangeRoot('apropos')"></li>
            <li class="li-header" id="nav-btssio" onclick="ChangeRoot('btssio')"></li>
            <li class="li-header" id="nav-eee" onclick="ChangeRoot('eee')"></li>
            <li class="li-header" id="nav-missions" onclick="ChangeRoot('missions')"></li>
            <li class="li-header" id="nav-projets" onclick="ChangeRoot('projets')"></li>
            <li class="li-header" id="nav-veilleTechno" onclick="ChangeRoot('veilleTechno')"></li>
            <li class="li-header" id="nav-contact" onclick="ChangeRoot('contact')"></li>
        </ul>
        <Button id="change-language" onclick="setLanguage()"></Button>
    </div>
</header>