<link rel="stylesheet" href="../css/header.css">
<script src="../../js/flocon_noel.js" defer></script>
<script src="../../js/burgerMenu.js" defer></script>

<header>
    <div class="div-header">
        <ul>
            <li class="li-header <% if (selected === "accueil") { %>selected<% } %>" id="nav-home" onclick="ChangeRoot('/')">Accueil</li>
            <li class="li-header <% if (selected === "apropos") { %>selected<% } %>" id="nav-about" onclick="ChangeRoot('apropos')">A Propos</li>
            <li class="li-header <% if (selected === "btssio") { %>selected<% } %>" id="nav-btssio" onclick="ChangeRoot('btssio')">BTS-SIO</li>
            <li class="li-header <% if (selected === "EcoleEtEntreprise") { %>selected<% } %>" id="nav-eee" onclick="ChangeRoot('EcoleEtEntreprise')">École et Entreprise</li>
            <li class="li-header <% if (selected === "missions") { %>selected<% } %>" id="nav-missions" onclick="ChangeRoot('missions')">Missions</li>
            <li class="li-header <% if (selected === "projets") { %>selected<% } %>" id="nav-projets" onclick="ChangeRoot('projets')">Projets</li>
            <li class="li-header <% if (selected === "veilletechnologique") { %>selected<% } %>" id="nav-veilleTechno" onclick="ChangeRoot('veilletechnologique')">Veille Technologique</li>
            <li class="li-header <% if (selected === "contact") { %>selected<% } %>" id="nav-contact" onclick="ChangeRoot('contact')">Me Contacter</li>
        </ul>
        <button class="burger-menu" onclick="toggleMenu()">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </button>
    </div>
</header>

