<link rel="stylesheet" href="../css/header.css">
<script src="../../js/flocon_noel.js" defer></script>

<header>
    <div class="div-header">
        <ul>
            <li class="li-header" id="nav-home" onclick="ChangeRoot('/')">Accueil</li>
            <li class="li-header" id="nav-about" onclick="ChangeRoot('apropos')">A Propos</li>
            <li class="li-header" id="nav-btssio" onclick="ChangeRoot('btssio')">BTS-SIO</li>
            <li class="li-header" id="nav-eee" onclick="ChangeRoot('EcoleEtEntreprise')">École et Entreprise</li>
            <li class="li-header" id="nav-missions" onclick="ChangeRoot('missions')">Missions</li>
            <li class="li-header" id="nav-projets" onclick="ChangeRoot('projets')">Projets</li>
            <li class="li-header" id="nav-veilleTechno" onclick="ChangeRoot('veilletechnologique')">Veille Technologique</li>
            <li class="li-header" id="nav-contact" onclick="ChangeRoot('contact')">Me Contacter</li>
        </ul>
    </div>
    <div id="snow"></div>
</header>

