<!DOCTYPE lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/changeroot.js" defer></script>
    <link rel="stylesheet" href="../css/indes.css">

    <title>Portfolio: Accueil</title>
</head>
<body>
    <div class="filter-back">
        <%- include('header') %>

        <div class="Infos">
            <h1 id="welcome-me"><%="<h1> BLAS Guillaume </h1>"%></h1>
            <p id="welcome-message">Apprentis Développeur BTS SIO 2ème année</p>
            <p id="address">📍 Saint Lambert, France</p>
        </div>
    </div>
</body>

