<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../js/changeroot.js" defer></script>
    <title>Portfolio: Missions</title>
</head>
<body>
    <script>
        window.addEventListener('load', function() {
                document.body.classList.add('loaded');
            });
    </script>
    <%- include('header') %>

    <div class="project" id="tools-project">
        <img src="../assets/tools-project.png" alt="Tools Project" />

        <div class="content">
          <h2>
            TOOLS PROJECT
            <span class="code commentary small-text"
              >// Projet Personnel</span
            >
          </h2>

          <p>
            Création d'un bot discord multi-tâches. Fonctionnalités amusantes,
            de modération, de culture, etc.
          </p>

          <div class="tags">
            <div class="tag"><i class="devicon-nodejs-plain"></i> NodeJS</div>
            <div class="tag">
              <i class="devicon-discordjs-plain"></i> DiscordJS
            </div>
            <div class="tag">
              <i class="devicon-mongodb-plain"></i> MongoDB
            </div>
          </div>

          <div class="buttons">
            <button
              class="secondary-button"
              onclick="window.open('https://github.com/semanavasco/tools-project-main','_blank')">
              Voir sur Github
              <img src="../assets/redirect.svg" alt="Redirect to Github" />
            </button>
          </div>
        </div>
      </div>
</body>
</html>