<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.icon" href="../../img/icon.ico">
    <script src="../../js/changeroot.js" defer></script>
    <link rel="stylesheet" href="../../css/projets.css">
    <title>Portfolio: Projets</title>
</head>
<body>
    <script>
        window.addEventListener('load', function() {
                document.body.classList.add('loaded');
            });
    </script>
    <%- include('header') %>
    <div class="Projets">
        <div class="ClientLeger">
            <h1>Client Léger</h1>
        </div>
        <div class="ClientLourd">
            <h1>Client Lourd</h1>
        </div>
    </div>
</body>
</html>