<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../js/changeroot.js" defer></script>
    <link rel="icon" type="image/vnd.icon" href="../../img/icon.ico">
    <link rel="stylesheet" href="../../css/veille.css">
    <script src="../../js/meretrouver.js" defer></script>
    <title>Portfolio: Veille Technologique</title>
</head>
<body>
    <script>
        window.addEventListener('load', function() {
                document.body.classList.add('loaded');
            });
    </script>
    <%- include('header') %>

    <div class="container">
        <h1 class="title">Medium Daily Digest</h1>

        <p class="text">Mon outils de veille se nomme "<span class="text-color">Medium Daily Digest</span>", il me permet de recevoir tous les jours des mails sur 3 thèmes que j'ai choisi : </p>
        <ul>
            <li>Javascript</li>
            <li>NodeJS</li>
            <li>Python</li>
        </ul>
        <p>Mais il y a plein d'autres disponible que l'on peut selectionner à tout instant</p>
        
        <button class="Boutons" onclick="downloadVeille()">Ma Veille</button>
        
    </div>
    
</body>
</html>